<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

  <!-- jquery -->
  <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>

  <!-- handlebars -->
  <script type="text/javascript" src="handlebars/handlebars.min.js"></script>

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">

  <title>Draw Together</title>
</head>
<body>
