{{> header}}

  <!-- page content -->
  <div class="container">
    <div class="row">
      <div class="col=md-12">
        <div id ="canvasDiv" class="col-md-6 col-md-3">
          <!-- canvas -->
        </div>
      </div>
    </div>
  </div>

  <!-- custom script -->
  <script type="text/javascript" src="socket.io/socket.io.js"></script>
  <script type="text/javascript" src="scripts/game.js"></script>
</body>
</html>
