{{> header}}

<!-- page content -->
<div class="container text-center col-sm-2 col-sm-offset-1 2">
  <div class="row">
    <h2 id="gameTitle">Waiting...</h2>
  </div>
</div>
<div class="container text-center col-sm-1 ">
  <div class="row">
    <img id="curly1" height="305" width="0" src="/img/curly.png" alt="" />
  </div>
  <div class="row">
    <img id="curly2" height="305" width="0" src="/img/curly.png" alt="" />
  </div>
  <div class="row">
    <img id="curly3" height="305" width="0" src="/img/curly.png" alt="" />
  </div>
</div>
<div class="container col-sm-3">
  <div class="">
    <div id="canvasDiv" data-socket-id="{{socket_id}}" data-spot="{{spot}}">
      <!-- canvas -->
    </div>
  </div>
</div>

<div class="container col-sm-2 col-sm-offset-2 ">
  <div class="row text-center">
    <div hidden id="finish-list">
      <br><br>
      <div>
        <a id="save" class="bigbutton" href="#save">Save to profile</a>
      </div>
      <br><br><br><br>
      <div>
        <a id="again" class="bigbutton" href="/start">Play again!</a>
      </div>
    </div>
  </div>
</div>

<!-- custom script -->
<script type="text/javascript" src="../socket.io/socket.io.js"></script>
<script type="text/javascript" src="../scripts/game.js"></script>
</body>

</html>
