{{> header}}

<!-- page content -->
<div class="container text-center col-md-3 col-md-offset-1">
  <div class="row">
    <h2 id="gameTitle">Waiting...</h2>
  </div>
  <div class="row">
    <!-- TODO: your part -->
  </div>
</div>
<div class="container col-md-3">
  <div class="">
    <div id="canvasDiv" data-socket-id="{{socket_id}}" data-spot="{{spot}}">
      <!-- canvas -->
    </div>
  </div>
</div>

<div class="container col-md-2 col-md-offset-2">
  <div class="row text-center">
    <div hidden id="finish-list">
      <br><br>
      <div>
        <a id="save" class="bigbutton" href="#save">Save to profile</a>
      </div>
      <br><br><br><br>
      <div>
        <a id="again" class="bigbutton" href="/start">Play again!</a>
      </div>
    </div>
  </div>
</div>

<!-- custom script -->
<script type="text/javascript" src="../socket.io/socket.io.js"></script>
<script type="text/javascript" src="../scripts/game.js"></script>
</body>

</html>
