{{> header}}

  <!-- header -->
  <div class="well">
    <div class="container">
      <div class="page-header">
        <h1>Let's Draw</h1>
      </div>
    </div>
  </div>

  <!-- page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- TODO -->
        <a href="/start" class="btn btn-default">START</a>
      </div>
    </div>
  </div>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>
