{{> header}}

<!-- Header -->
<div id="header">
  <div class="container">

    <!-- Logo -->
    <div id="logo" class="row">
      <h1>DOODLE 25</h1>
      <span>Live drawing game</span>
    </div>
    <br><br><br>
    <div class="row">
      <h4><a id="start" href="/start">START</a></h4>
      <br><br><br>
      <a href="/gallery" class="bigbutton">Gallery</a>
    </div>
  </div>
</div>

<!-- page content -->
<div id="contain" class="container">
  <h2>Join us</h2><br>
  <div id="" class="row">
    <a href="/signup" class="bigbutton">Sign Up</a>
    <br><br><br><br>
    <a href="/login" class="bigbutton">Log In</a>
  </div>
</div>

<!-- custom script -->
<script type="text/javascript" src="scripts/index.js"></script>
</body>

</html>
