{{> header}}

<div class="container">
  <div id="contain" class="row">
    <!-- Log in form -->
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal" id='login-form'>
        <fieldset>
          <h1>Log In</h1><br>
          <!-- Username input-->
          <input type="text" name="username" placeholder="Username" autocomplete="off" required="" autofocus>
          <br><br>
          <!-- Password input -->
          <input type="password" name="password" placeholder="Password" autocomplete="off" required="">
          <br><br>
          <!-- Login Button -->
          <button id="login" name="singlebutton" class="bigbutton">Log In</button>
          <br><br>
          <p hidden id="wrongLogin">* wrong username or password</p>
        </fieldset>
      </form>
      <p>New here? <a href="/signup">Sign Up</a></p>
    </div>
  </div>
</div>

<!-- custom script -->
<script type="text/javascript" src="scripts/login.js"></script>
</body>

</html>
