{{> header}}

<div id="p_jum" class="jumbotron">
  <div class="container">
    <h1 id="greet">Profile - {{username}}</h1>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <a class="btn btn-default" href="/logout">Log Out</a>
    <a class="btn btn-default" href="/start">New Game</a>

  </div>
</div>

<!-- custom script -->
<script type="text/javascript" src="scripts/signup.js"></script>
</body>

</html>
