{{> header}}

  <!-- page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="/start" class="btn btn-default">New Game</a>
        <a href="/logout" class="btn btn-default">Log Out</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id="game-list" class="col-md-12">
        <script id="game-template" type="text/x-handlebars-template">
        \{{#each games}}
        \{{#ifDraw _draw.pngD_1 _draw.pngD_2 _draw.pngD_3}}
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <!-- panel body -->
            <div class="col-md-10 row">
              <div class="container-fluid">
                <!-- <p>Draws!!</p> -->
                <img height="100" width="150" src="\{{_draw.pngD_1}}">
                <img height="100" width="150" src="\{{_draw.pngD_2}}">
                <img height="100" width="150" src="\{{_draw.pngD_3}}">
              </div>
            </div>
          </div>
        </div><br>
        \{{/ifDraw}}
        \{{/each}}
      </script>
      </div>
    </div>
  </div>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/profile.js"></script>
</body>
</html>
