{{> header}}

<div class="container">
  <div id="contain" class="row">
    <!-- Sign up form -->
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal" id='signup-form'>
        <fieldset>
          <h1>Sign Up</h1><br>
          <!-- Username input-->
          <input type="text" name="username" placeholder="Username" autocomplete="off" required="" autofocus>
          <br><br>
          <!-- Password input -->
          <input type="password" name="password" placeholder="Password" autocomplete="off" required="">
          <br><br>
          <!-- Button -->
          <button id="signUp" name="singlebutton" class="bigbutton">Sign Up</button>
          <br><br>
          <p hidden id="duplicate">* username had registered</p>
        </fieldset>
      </form>
      <p>Have account? <a href="/login">Log In</a></p>
    </div>
  </div>
</div>

<!-- custom script -->
<script type="text/javascript" src="scripts/signup.js"></script>
</body>

</html>
